@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --siteBackgroundColor: #271b70;
  --paragraphMediumColor: #98a2ad;
  --accentPrimary: #c0a95e;
  --accentSecondary: #98a2ad;
  --accentDark: #271b70;
  --heading-font: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --body-font: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --base-font-size: 16px;
  --sqs-site-gutter: 3vw;
  --sqs-mobile-site-gutter: 6vw;
  --sqs-site-max-width: 1200px;
}

html {
  font-size: var(--base-font-size);
  font-family: var(--body-font);
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--siteBackgroundColor);
  color: var(--paragraphMediumColor);
  font-family: var(--body-font);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.site-wrapper,
.sqs-catalog-item-list {
  font-family: var(--body-font);
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
}

.page-section {
  color: var(--paragraphMediumColor);
}

.page-section > .content-wrapper {
  width: 100%;
  max-width: var(--sqs-site-max-width);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding-left: clamp(1.5rem, var(--sqs-site-gutter), 4rem);
  padding-right: clamp(1.5rem, var(--sqs-site-gutter), 4rem);
}

.page-section.vertical-alignment--middle > .content-wrapper {
  justify-content: center;
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
}

.page-section.horizontal-alignment--center > .content-wrapper {
  justify-content: center;
}

.page-section.full-bleed-section > .content-wrapper {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .site-wrapper,
  .sqs-catalog-item-list {
    font-size: calc(
      (1rem - 1) * calc(0.012 * min(100vh, 900px)) + 1rem
    );
  }
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: var(--body-font) !important;
  background-color: #271b70 !important;
  color: #98a2ad !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
  color: #c0a95e !important;
}

.react-calendar__tile--active {
  background-color: #c0a95e !important;
  color: #271b70 !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #98a2ad !important;
  margin-left: 2px !important;
  color: #271b70 !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #c0a95e !important;
  color: #271b70 !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #98a2ad !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: 1px solid rgba(152, 162, 173, 0.4) !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
  color: #98a2ad !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: rgba(39, 27, 112, 0.45) !important;
}

.rbc-day-slot {
  font-size: 14px !important;
  color: #98a2ad !important;
}

.rbc-event {
  border: none !important;
  color: #271b70 !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}

.rbc-event:nth-child(1) {
  background-color: #c0a95e !important;
}
.rbc-event:nth-child(2) {
  background-color: #98a2ad !important;
}
.rbc-event:nth-child(3) {
  background-color: #271b70 !important;
  color: #c0a95e !important;
}
.rbc-event:nth-child(4) {
  background-color: #c0a95e !important;
}
.rbc-event:nth-child(5) {
  background-color: #98a2ad !important;
}
.rbc-event:nth-child(6) {
  background-color: #271b70 !important;
  color: #c0a95e !important;
}
.rbc-event:nth-child(7) {
  background-color: #c0a95e !important;
}
.rbc-event:nth-child(8) {
  background-color: #98a2ad !important;
}

.rbc-event-label{
  color: #271b70 !important;
  margin-bottom: 5px;
}
